{:paths ["src" "resources"]
 :deps {cheshire/cheshire {:mvn/version "5.11.0"}
        telegrambot-lib/telegrambot-lib {:mvn/version "2.4.0"}}
 :aliases {:dev  {:main-opts ["-m" "core"]
                  :extra-paths ["dev"]}}}
